* {
	all: unset;
	background-image: none;
	transition: 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

window {
        background: #0D0C0C;
}

button {
        font-family: 'Material Symbols Outlined';
        font-size: 10rem;
        background-color: #0D0C0C;
        color: #C5C9C5;
        margin: 2.5rem;
        border-radius: 0;
        border: 2px solid #E46876;
        padding: 3rem;
        box-shadow: 0 0 0 1px #938AA9, 0 0 25px #0D0C0C;
}

button:focus,
button:active,
button:hover {
        background-color: #938AA9;
        border-radius: 0;
        border-color: #C4746E;
        box-shadow: 0 0 0 1px #A292A3, 0 0 35px #0D0C0C;
}

