* {
	all: unset;
	background-image: none;
	transition: 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

window {
        background: rgba(8, 9, 12, 0.85);
}

button {
        font-family: 'Material Symbols Outlined';
        font-size: 10rem;
        background-color: #101318;
        color: #F4F6F9;
        margin: 2.5rem;
        border-radius: 0;
        border: 2px solid #F28F3B;
        padding: 3rem;
        box-shadow: 0 0 0 1px #1A1D21, 0 0 25px rgba(0, 0, 0, 0.65);
}

button:focus,
button:active,
button:hover {
        background-color: #181D24;
        border-radius: 0;
        border-color: #FF9D4C;
        box-shadow: 0 0 0 1px #1F232B, 0 0 35px rgba(0, 0, 0, 0.75);
}

